@use "../../styles/abstracts/index" as *;

.project-details {
  section {
    &:not(:last-child) {
      padding-bottom: 60px;
      @include mobile {
        padding-bottom: 40px;
      }
    }

    // heading
    h4 {
      padding-bottom: 12px;
      font-weight: font-weight("bold");
      font-size: rem(24);
      @include mobile {
        font-size: rem(20);
      }
    }
    h5 {
      font-weight: font-weight("bold");
      font-size: rem(18);
      color: color(gray700);
      @include mobile {
        font-size: rem(16);
      }
    }
    // content
    ul > li,
    p {
      color: color(gray700);
      @include mobile {
        font-size: rem(14);
      }
    }
    figure {
      line-height: 0;
    }
    figcaption {
      font-size: 80%;
      color: color(gray600);
    }

    // 리스트 기본
    ul {
      @include flexbox(flex-start, flex-start);
      flex-direction: column;
      gap: 6px;
      li {
        position: relative;
        @include flexbox(flex-start, flex-start);
        flex-direction: column;
        gap: 12px;
        padding-left: 12px;
        @include mobile {
          gap: 8px;
          max-width: 100%;
        }
        &::before {
          content: "•";
          position: absolute;
          left: 0;
          color: color("supernova");
        }
        h5 {
          // padding-bottom: 8px;
        }
      }
    }
    // 설명이 들어가는 리스트
    ul.description-list {
      gap: 18px;
      @include mobile {
        gap: 12px;
      }
    }
    // 리스트 내 이미지 모바일 사이즈 조정
    .description-img {
      @include mobile {
        max-width: 100%;
        overflow-x: auto;
      }
      &:not(:has(.pc-only)) {
        img.img-responsive {
          @include mobile {
            width: auto;
          }
        }
      }
    }
    // 리스트 홀짝 불렛 스타일 변경
    &:nth-child(2n) {
      ul {
        li {
          &::before {
            color: color("saturn-gold");
          }
        }
      }
    }
  }
}
