@use "../../styles/abstracts/index" as *;

#header {
  display: none;

  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .menu {
    @include flexbox(flex-end);
    gap: 20px;
    height: 56px;
    padding: 0 20px;
    li {
      a {
        color: white;
      }
    }
  }
}
