@use "../styles/abstracts/index" as *;

.contact-form {
  form {
    @include flexbox(flex-start);
    flex-direction: column;
    height: 100%;
    .form-group {
      width: 100%;
      &:first-child {
        @include flexbox(center);
        gap: 18px;
        @include mobile {
          display: block;
        }
        .input {
          width: 50%;
          @include mobile {
            width: 100%;
          }
          &:first-child {
            @include mobile {
              margin-bottom: 16px;
            }
          }
        }
      }
      &:nth-child(2) {
        margin-top: 32px;
      }
      .input-message {
        width: 100%;
      }
      // MUI custom css
      .MuiTextField-root {
      }
      .MuiFormHelperText-root.Mui-error {
        position: absolute;
        left: 0;
        bottom: -22px;
      }
      .MuiInput-input {
        @include mobile {
          font-size: rem(14);
        }
      }
      .MuiFormLabel-root {
        @include mobile {
          font-size: rem(14);
        }
      }
    }
    .btn-submit {
      margin: 24px 0;
      @include mobile {
        width: 140px;
      }
      &.loading {
        animation: pulse 2s infinite;
        transition: all 0.3s ease;
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
